/JmenuItemsSize.class
/Menu$1.class
/Menu$2.class
/Menu.class
/MouseListener.class
/NewGraphicalWindow.class
/NewJLabel.class
/RotateImage.class
/VariableWarehouse.class
/PaintJLabel.class
/Main.class
/NewGraphicalWindow$1.class
/NewGraphicalWindow$2.class
/NewGraphicalWindow$3.class
/Menu$3.class
